*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(125deg,#6a89cc,#b8e99a);
    min-height: 100vh;
    
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    /* margin: auto; */
    transform: translateY(-50%);
    text-align: center;
}

.container h1{
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 20px;
}
.container p{
    margin-bottom: 20px;
}
.container a{
    text-decoration: none;
    background-color: darkgoldenrod;
    color: white;
    padding: 10px ;
    /* display: inline-block; */
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    transition: .4s;
}
.container a:hover{
    background-color: rgb(143, 167, 38);
}